					<ul class="snav">
						<li>
							<a href="/fr/section1">Lien à 1-0</a>
<!--#if expr="${ssis.route.code} == /1-/" -->
							<ul>
								<li><a href="/fr/section1/sub-section1">Lien à 1-1</a></li>
								<li><a href="/fr/section1/sub-section2">Lien à 1-2</a></li>
							</ul>
<!--#endif -->
						</li>
						<li>
							<a href="/fr/section2">Lien à 2-0</a>
<!--#if expr="${ssis.route.code} == /2-/" -->
							<ul>
								<li><a href="/fr/section2/sub-section1">Lien à 2-1</a></li>
							</ul>
<!--#endif -->
						</li>

						<li><a href="#">Nous contacter</a></li>
					</ul>